body {
    background-color: #e7dce9da
}

.container {
    margin-top: 100px
}

.img-fluid{
    height: 200;
    width: 200;
}

#menu {
    position: fixed;
    right: 0;
}

.selectpicker {
    background-color: gray;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(107, 70, 70);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkgrey;
    color: white;
  }